<div *ngIf="showQuote" class="logo-wrapper">
  <img src="/NaturalCyclesLogo.png" alt="Natural CyclesLogo" width="150" />
</div>

<div class="page-wrapper">
  <div *ngIf="headerText || detailText" class="header-wrapper">
    <h1 *ngIf="headerText" class="header" textFit [tfMin]="12" [tfMax]="200">{{ headerText }}</h1>
    <div [class]="detailTextClass" textFit [tfMin]="10" [tfMax]="160">{{ detailText }}</div>
  </div>

  <ng-container *ngIf="showQuote">
    <app-quote></app-quote>
  </ng-container>

  <form class="countdown-form">
    <div class="fieldsets-container">
      <div class="input-group">
        <label for="title-input">Title</label>
        <input
          id="title-input"
          name="title"
          type="text"
          [(ngModel)]="title"
          (input)="startCountdown()"
          placeholder="Event name"
          autocomplete="off"
        />
      </div>
      <div class="input-group">
        <label for="date-input">Date</label>
        <input
          id="date-input"
          name="date"
          type="date"
          [(ngModel)]="date"
          (change)="startCountdown()"
          autocomplete="off"
        />
      </div>
    </div>
  </form>
</div>
